
body{
    margin: 0;
}

header{
    height: 25vh;
}
.bloque1{
    display: flex;
    padding: 10px;
}
.navbar-toggler{
    
    margin-top: 0;
}
.cajita{
    width: 35%;
    display: flex;
}
.logo{
    width: 260px;
    height: 115px;
    display: flex;  
}
.logo>img{
    width: 90px;
    height: 100px;
    margin-top: 5px;
}
.logo>p{
    font-style: italic;
    font-display:swap;
}

.logo > p{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
.navbar-toggler{
    display: none;
}

.servicios{
    width: 300px;
    margin-right: 40px;
}


.servicios:hover{
   color: rgb(255, 1, 1) ;
}
nav > a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
main{
    margin-top: 25vh;
    display: flex;
    justify-content: center;
}
.carousel{
    display: flex;
    margin-top: 150px;
    width: 80%;
    height: 40%;
    justify-content: center;
    
}
.carousel-indicators{
    display: flex;
    margin: 0;
    justify-content: center;
}
.contenedor1{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}
.contenedor__servicios{
    width: 60%;
    border:2px solid rgba(73, 73, 73, 0.11);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    justify-items: center;
    justify-self: center;
}
.contenedor__servicios>a{
    display: flex;
    padding: 10px;
    color: black;
    text-decoration: none;
    justify-content: center;
}
.contenedor__servicios> a >img{
    justify-items: left;
    width: 40%;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    border-right: 1px solid rgb(73, 73, 73);
}
.contenedor__servicios > a > h3{
    margin: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.contenedor__servicios > a > p{
    margin: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.contenedor__servicios:hover{
    border:2px solid rgba(73, 73, 73, 0.795);
}
.nosotros{
    gap: 5px;
}
footer{
    color: white;
    background-color: rgb(59, 56, 56);
}
footer > section > a {
    display: flex;
    text-decoration: none;
    color: white;
    border: 1px solud white;
    width: 100%;
    text-align: left;
    margin: 5px;
}
.img{
    width: 45px;
}
.informacion > p{
    text-align: left;
}
@media (max-width:740px) {
    .navbar-toggler{
        display: flex;
    }
    .bloque2{
        display: none;
    }
    .contenedor__servicios{
        width: 100%;
    }
    .contenedor__servicios> a >img{
        height: 100%;
    }
}
