:root{
    --color-primario: rgba(255, 94, 1, 0.644);
    --color-secundario: rgba(255, 174, 0, 0.644);
}
body{
    margin: 0;
}
header{
    height: 25vh;
}
.bloque1{
    display: flex;
    padding: 10px;
}
.navbar-toggler{
    
    margin-top: 0;
}
.cajita{
    width: 35%;
    display: flex;
}
.logo{
    width: 260px;
    height: 115px;
    display: flex;  
}
.logo>img{
    width: 90px;
    height: 100px;
    margin-top: 5px;
}
.logo>p{
    font-style: italic;
    font-display:swap;
}

.logo > p{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
.navbar-toggler{
    display: none;
}

.servicios{
    width: 300px;
    margin-right: 40px;
}


.servicios:hover{
   color: rgb(255, 1, 1) ;
}
nav > a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.main{
    margin-top: 25vh;
    justify-content: center;
}
.card{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    justify-content: center;
}
.card{
    border:1px solid var(--color-primario);
    border-radius: 10px;
    margin: 10px;
    padding: 0;
    justify-items: center;
    justify-self: center;
}
.card-body{
    background:linear-gradient(45deg,var(--color-primario),var(--color-secundario));
    border-radius: 0 0 8px 8px;
    color: black;
    margin: 0;
}

.contenedor__servicios > a > h3{
    margin: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.contenedor__servicios > a > p{
    margin: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.contenedor__servicios:hover{
    border:3px solid rgba(73, 73, 73, 0.637);
}
.nosotros{
    gap: 5px;
}
footer{
    color: white;
    background-color: rgb(59, 56, 56);
}
footer > section > a {
    display: flex;
    text-decoration: none;
    color: white;
    border: 1px solud white;
    width: 100%;
    text-align: left;
    margin: 5px;
}
.img{
    width: 45px;
}
.informacion > p{
    text-align: left;
}
@media (max-width:740px) {
    .navbar-toggler{
        display: flex;
    }
    .bloque2{
        display: none;
    }
    
}